
.Flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Caption {
    text-decoration: none !important;
    font-weight: bold;
    font-size: 16px;
}
.image {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}

.DeliveryApproach {
    /*background: #ffc6b3;*/
    background: url(../img/Section_Division.png) no-repeat center center scroll;
    padding: 0 35px;
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.textAlignCenter  {
    text-align: center;
}
.TechnicalSolution {
    text-align: center;
    /*background: #ffc6b3;*/
    background: url(../img/Section_Division.png) no-repeat center center scroll;
}
.WhatWeAre {
    padding-bottom: 3%;
    Padding-top: 1%;
}
.DigitalMarketing {
    padding-bottom: 5%;
    background: url("../img/Header.png") no-repeat center center scroll;
    background-size: 100% 100%;
}

.BoldContent h1{
    font-weight: bold !important;
    color: 	#484848;    
}
.BoldContent h2{
    font-weight: bold !important;
    color: #606060;    
}
.content {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    max-width: 800px;
    display: inline-block;
}
h1 {
    font-weight: bold;    
}
.TextAlignLeft {
    text-align: left;
}
/*.WhiteBg {
    background-color: white;
}
.GreyBg {
    background-color: #E0E0E0;
}*/
.DMbackground {
    background: url(../img/DMBackground.png) no-repeat;
    /* background-size: cover; */
}
.WebBackground {
    background: url(../img/WebBackground.png) no-repeat; /*center center scroll */
    /* background-size: contain; */
}
.BigDataBackground {
    background: url(../img/BigDatabackground.png) no-repeat;
    /* background-size: contain; */
}
/*.PaddingTopBottom {    
    align-items: center;
    height: 100%;
    padding-bottom: 3%;
}*/
/*.ContainerMinHeight {
    min-height: 50em;
}*/
.IconSize {
    height: 23em;
}
