<html data-ng-app="myApp">
    <head>
        <title>MAQ Software</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="script/jquery-1.11.1.min.js"></script> 
        <script src="script/bootstrap.min.js"></script>     
         <script src="script/Careers.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/NewHomePage.css" rel="stylesheet">
        <link href="css/HomePageStyles.css" rel="stylesheet">
    </head>
    <body data-ng-controller="CareerController as app">        
        <div class="flex">
            <div class="Header heroCareer">
                <div class="navigation">
                    <nav class="navbar">
                        <div class="container-fluid">
                            <div class="Logo marginLeft10">
                                <a class="navbar-brand" href="#"><img src="img/MAQLogo.svg" alt="MAQ Software Logo" /></a>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="marginRight10 nav navbar-nav navbar-right">
                                    <li data-ng-repeat="nav in app.navList" data-ng-click="app.changeNav(nav)">
                                        <a  class="navLinks" data-ng-class={{"nav.isSelected?'borderBottomRed':''"}} href="{{nav.url}}">{{nav.Name}}
                                        </a>
                                    </li>                                      
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="centerAlign marginTop25vh">
                    <div class="">
                        <h1>Join us. Explore your potential.</h1>
                    </div>
                    <div class="centered marginTop10vh">
                        <div class="topHeaderSliderBtn">
                                View all job openings
                        </div>
                    </div>
                </div>   
            </div> 
            <div class="pageDiv marginTop10px"> 
                <h2 class="textAlignCenter"> Why do A-Players Choose to Work with Us? </h2>
                <div class="row paddingTop7pt centered">
                    <div class="careerCaptureDiv col-xs-12 col-sm-4 col-lg-2 col-md-4"> 
                        <div class="careerCircle">
                            <img src="img/ProfessionalGrowth.svg"/>
                        </div>
                        <div class="careerChooseHeader">Professional growth</div>
                        <ul class="textAlignLeft listItems row">
                            <li>Substantial responsibilities at an early stage of the career </li>
                            <li>Exposure to all aspects of delivery lifecycle and project management </li>
                            <li>Continuous learning </li>
                        </ul>
                    </div>
                    <div class="careerCaptureDiv col-xs-12 col-sm-4 col-lg-2 col-md-4"> 
                        <div class="careerCircle">
                           <img src="img/TypeOfWork.svg"/>
                        </div>
                        <div class="careerChooseHeader">Type of work</div>
                        <ul class="textAlignLeft listItems row">
                            <li>Exciting and challenging work </li>
                            <li>Exposure to the latest and variety of technologies </li>
                        </ul>
                    </div>
                    <div class="careerCaptureDiv col-xs-12 col-sm-4 col-lg-2 col-md-4"> 
                        <div class="careerCircle">
                           <img src="img/CompanyCulture.svg"/>
                        </div>
                        <div class="careerChooseHeader">Company culture</div>
                        <ul class="textAlignLeft listItems row">
                            <li>Transparency, lack of bureaucracy</li>
                            <li>Ownership and accountability</li>
                            <li>Autonomy (with seniority)</li>
                            <li>Peers with strong technical background</li>
                            <li>Supportive managers with technical know-how</li>
                            <li>There is never a dull moment (fast paced work)</li>
                        </ul>
                    </div>
                </div>
                <div class="marginTop1em textAlignCenter">
                    <p class="fontSize20">All of us hold Computer Science and Engineering degrees from top universities in the US and India.</p>
                    <p class="fontSize20">Supervisors are PMI-ACP (Agile) certified and managers come from leading business schools in the US and India.</p>
                </div>
                  <div class="pageDiv marginTop30px">
                <h2 class="textAlignCenter">Open Roles</h2>
                <div class="locationRolesDiv centered marginTop30px">
                    <div class="paddingBottom10px displayInlineFlex clickable" data-ng-class={{"location.isSelected?'thickBorderBottomRed':''"}} ng-repeat="location in app.locations" data-ng-click="app.selectLocation($index)">
                        <img src="{{location.img}}"/>
                        <div class="location">{{location.Name}}</div>
                    </div>
                </div>
               <div class="jobs">
                    <h3 class="textColorRed">Join us to explore your potential</h3>
                    <div class="marginTop30px width70 floatLeft">
                         <div data-ng-repeat="job in app.availableJobs" class="jobItem" data-ng-class={{"job.isSelected?'selectedJobItem':'borderLeft'"}} data-ng-click="app.selectJob($index)">
                            {{job.Title}}
                            <div class="viewDesc textColorRed clickable" ng-href="http://maqsoftware.in/Careers.html" ng-click="app.scrollTop()"> View Description</div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="iframeSection">
                     <div class="embedVideo">
                         <iframe width="700" height="345" src="https://www.youtube.com/embed/mgyfCETF1lA">
                        </iframe>
                     </div>
                      <div class="contactInfo">
                         <div class="alignContactInfo">
                              <h3>Contact Information</h3>
                                <div class="textColorRed font-16">For positions in Redmond,<br>
                                        <span class="textColorBlack">e-mail your resume to<span><br>
                                        <span class="textColorBlack">RedmondJobs@MAQSoftware.com<span>
                                </div>
                                <div class="textColorRed font-16">For positions in Hyderabad,<br>
                                        <span class="textColorBlack">e-mail your resume to<span><br>
                                        <span class="textColorBlack">HydJobs@MAQSoftware.com<span>
                                </div>
                                <div class="textColorRed font-16">For positions in Mumbai,<br>
                                        <span class="textColorBlack">e-mail your resume to<span><br>
                                        <span class="textColorBlack">MumbaiJobs@MAQSoftware.com<span>
                                </div>
                         </div>

                      </div>
                </div>
            </div>
                
        </div>     
        <footer id="footer">
                    <div class="container">
                        <div class="row">
                            <ul class="sidebar-nav col-xs-3">
                                <!--left25Percent-->
                                <li class="footer-brand">
                                    <span class="navHeadings">Expertise</span>
                                </li>
                                <li>
                                    <a href="Expertise.html">Data Management</a>
                                </li>
                                <li>
                                    <a href="Expertise.html?q=1">Machine Learning</a>
                                </li>
                                <li>
                                    <a href="Expertise.html?q=2">Microsoft Big Data Solutions</a>
                                </li>
                                <li>
                                    <a href="Expertise.html?q=3">Power BI & Visualizations</a>
                                </li>
                                <li>
                                    <a href="Expertise.html?q=4">Web Development & Cloud Services</a>
                                </li>
                            </ul>
                            <ul class="sidebar-nav col-xs-2">
                                <li class="footer-brand">
                                    <span class="navHeadings">Profile</span>
                                </li>
                                <li>
                                    <a href="Profile.html">About</a>
                                </li>
                                <li>
                                    <a href="Profile.html?q=1">Delivery Approach</a>
                                </li>
                                <li>
                                    <a href="Profile.html?q=2">Recognitions</a>
                                </li>
                                <li>
                                    <a href="Profile.html?q=3">Management</a>
                                </li>
                                <li>
                                    <a href="Profile.html?q=4">Clients</a>
                                </li>
                            </ul>
                            <ul class="sidebar-nav col-xs-2">
                                <!--left50Percent-->
                                <li class="footer-brand">
                                    <span class="navHeadings">Careers</span>
                                </li>
                                <li>
                                    <a href="Careers.html">Redmond</a>
                                </li>
                                <li>
                                    <a href="Careers.html?q=Hyderabad">Hyderabad</a>
                                </li>
                                <li>
                                    <a href="Careers.html?q=Mumbai">Mumbai</a>
                                </li>

                            </ul>
                            <ul class="sidebar-nav col-xs-2">
                                <!--left75Percent-->
                                <li class="footer-brand">
                                    <span class="navHeadings">News</span>
                                </li>
                                <li>
                                    <a href="News.html">Latest News</a>
                                </li>
                                <li>
                                    <a href="News.html">Press Coverage</a>
                                </li>

                            </ul>
                            <ul class="sidebar-nav col-xs-3">
                                <!--left75Percent-->
                                <li class="footer-brand">
                                    <span class="navHeadings">Contact Us</span>
                                </li>
                                <li class="navImages">
                                    <a href="Contactus.html">
                                        <img src="img\ContactUs_Address.svg" alt="ContactUs" class="ContactUs">
                                    </a>
                                    <a href="Contactus.html">
                                        <img src="img\ContactUs_Call.svg" alt="Phone" class="ContactUs">
                                    </a>
                                    <a href="Contactus.html">
                                        <img src="img\ContactUs_Map.svg" alt="Maps" class="ContactUs">
                                    </a>
                                </li>
                                <li class="footer-brand">
                                    <span class="navHeadings">Follow Us</span>
                                </li>
                                <li class="navImages">
                                    <a href="https://www.facebook.com/maqsoftware">
                                        <img src="img\FollowUs_Facebook.svg" alt="Facebook" class="FollowUs">
                                    </a>
                                    <a href="http://www.linkedin.com/company/maq-software">
                                        <img src="img\FollowUs_LinkedIn.svg" alt="LinkedIn" class="FollowUs">
                                    </a>
                                    <a href="https://twitter.com/MAQSoftware">
                                        <img src="img\FollowUs_Twitter.svg" alt="Twitter" class="FollowUs">
                                    </a>
                                    <a href="https://youtube.com/maqsoftware">
                                        <img src="img\FollowUs_YouTube.svg" alt="YouTube" class="FollowUs">
                                    </a>
                                    <a href="https://github.com/maqsoftware">
                                        <img src="img\FollowUs_GitHub.svg" alt="GitHub" class="FollowUs">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
               
                </footer>   
     
    </body>
</html>