<div class="topMostHeader" data-ng-show="app.showTopHeader">
     <div class="col-lg-3 col-md-6 col-sm-9 col-xs-12 fa fa-2x fa-map-marker topHeaderMenus"><span class="paddingLeft15 font14">2018 156th Avenue N.E Bellevue, WA 98007</span></div>
     <div class="col-lg-3 col-md-6 col-sm-9 col-xs-12 fa fa-2x fa fa-2x fa-clock-o topHeaderMenus"><span class="paddingLeft15 font14">Monday to Friday 9:00 am to 6:00 pm PST</span></div>
    <div class="col-lg-3 col-md-6 col-sm-9 col-xs-12 fa fa-2x fa fa-2x fa-phone topHeaderMenus"><span class="paddingLeft15 font14">+1 (650) 752-9140</span></div>
    <div class="col-lg-1 col-md-6 col-sm-3 col-xs-12 fa fa-2x companyLocationHeader topHeaderMenus font14"><div>seattle</div><div class="traingle-down"></div></div>
</div> 
<div class={{app.heroHomeClass}}>
   <div class="jumbotronShadow" data-ng-class={{"app.showTopHeader?'topNavigation':'topNavigationFixed'"}}>
        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-9 maqLogo paddingleftflex">
            <a href="http://maqsoftware.in/"><img class="maqLogoImage" src="img/MAQLogo.svg" alt="MAQ Software Logo" /></a>
        </div>
        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-3 paddingrightflex ">
            <ul class="navOptionList collapseNav">
                <li data-ng-repeat="nav in app.navList" data-ng-click="app.changeNav(nav)" data-ng-mouseleave="app.disableOnHoverMenu()" data-ng-mouseenter="app.showMouseOverOption(nav);">
                    <a  class="" data-ng-class={{"nav.isSelected?'selectedNavOption':'nonSelectedNavOption'"}} href="{{nav.url}}">{{nav.Name}}
                    </a>
                    <div class="arrow-Down"></div>
                     <div class="menuOnHoverOptions" data-ng-if="app.toggleMenuItemOption && app.currentHoveredMenuItem==nav.Name">
                    <ul>
                        <li data-ng-repeat="option in app.onHoverOptionToBeShown"><a href="{{option.Url}}">{{option.Name}}</a></li>
                    </ul>
                </div>
                </li>   
                <li class="fa fa-facebook socialMediaIcon"></li> 
                <li class="fa fa-twitter socialMediaIcon"></li>                                              
            </ul>
            <i class="fa fa-2x fa-bars navButton pull-right clickable" data-ng-click="app.expandNavOption=!app.expandNavOption"></i>
        </div>
   </div>
   <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 heroImageTextArea">
       <div class="col-lg-2 col-md-1 col-sm-1 hidden-xs">
           <div class="smallSquare">
               <div class="arrow-Left"></div>
           </div>
       </div>
       <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
           <h1 class="tagLine"><pre class="animated bounceIn">{{app.heroTagLine}}</pre></h1>
           <h3><pre>{{app.heroTagDescription}}</pre></h3>
           <br>
           <button type="button" class="btn btn-primary animated slideInUp">
               <div>Contact Us</div>
                <div class="contactUs-Arrow"></div>
           </button>
        </div>
       <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
           <div class="smallSquare">
               <div class="arrow-Right"></div>
           </div>
       </div>
   </div>
</div>
<div class="heroHomeBottomBar">
    <div class="pull-left">Looking for a First-Class Technology Consultant?</div>
    <div class="pull-right getInTouchButton">Get in touch</div>
</div>
