<html data-ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="Cache-control" content="private">
        <title>MAQ Software</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="script/jquery-1.11.1.min.js"></script>        
        <script src="script/bootstrap.min.js"></script>
        <script src="script/app.js"></script> 
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="script/map.js"></script> 
        <link href="css/bootstrap.min.css" rel="stylesheet"> 
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">    
        <link href="css/NewHomePage.css" rel="stylesheet">
        <link href="css/ContactUs.css" rel="stylesheet">
        <link href="css/maq.css" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    </head>       
    <body data-ng-controller="AppController as app" data-ng-init="app.checkForScrollEffect()">        
        <div data-ng-include="'/header.html'"></div>      
        <div data-ng-if="app.homeIsSelected" data-ng-include="'/homepage.html'"></div>
        <div data-ng-if="app.contactUsIsSelected" data-ng-include="'/ContactUs.html'"></div>  
        <div id="footer" data-ng-include="'/footer.html'"></div>  
    </body>
</html>