<html data-ng-app="myApp">
    <head>
         <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>MAQ Software</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="script/jquery-1.11.1.min.js"></script> 
        <script src="script/bootstrap.min.js"></script>     
         <script src="script/app.js"></script>     
        <link href="css/bootstrap.min.css" rel="stylesheet"> 
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">    
        <link href="css/NewHomePage.css" rel="stylesheet">
    </head>
    <body data-ng-controller="AppController as app">        
<body data-ng-controller="AppController as app">        
     <div class="jumbotron jumbotronAlignment" data-ng-class={{"app.showNavShadow?'jumbotronShadow':''"}} scroll>
        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-9 paddingleftflex">
            <a href="http://maqsoftware.in/"><img class="maqLogoImage" src="img/MAQLogo.svg" alt="MAQ Software Logo" /></a>
        </div>
        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-3 paddingrightflex ">
            <ul class="navOptionList collapseNav">
                <li data-ng-repeat="nav in app.navList" data-ng-click="app.changeNav(nav)">
                    <a  class="" data-ng-class={{"nav.isSelected?'selectedNavOption':'nonSelectedNavOption'"}} href="{{nav.url}}">{{nav.Name}}
                    </a>
                </li>                                      
            </ul>
            <i class="fa fa-2x fa-bars navButton pull-right clickable" data-ng-click="app.expandNavOption=!app.expandNavOption"></i>
        </div>
     </div> 
     <div class="tranparentBlackBackGround" data-ng-if="app.expandNavOption"></div>
     <div class="navOptionListExpand" data-ng-if="app.expandNavOption">
         <ul class="">
                <li data-ng-repeat="nav in app.navList" data-ng-click="app.changeNav(nav)">
                    <a  href="{{nav.url}}">{{nav.Name}}
                    </a>
                </li>                                      
            </ul>
     </div>   
     <div class="landingImage heroHome">    
         <div class="heroContentWrapper">
             <div class="landingImageHeaderText">Empower data.<br class="breakImageHeaderText"> Drive results.</div>  
            <div class="landingImageCaptionText">Use cutting edge data solutions to gain insights
            into your needs. Make your data work for you </div>   
         </div>            
         <div class="dashboardImage">
             <img src="img/Dashboard.png">
         </div>
         <div class="jumbotron landingImageBottomHeader">
         </div>
     </div>
     <div class="whatWeDo">
         <div class="centerAlignHeader ">
              <span class="expertiseHeading">From Source to Analytics</span><div class="underLine"></div>
              <span class="expertiseSubHeading">MAQ Software offers full data management and analytics solutions,
                helping business gain insights into sales and operations.</span>
         </div>   
           
                  <div class="alignTechnology col-lg-7 col-md-12 col-sm-12 col-xs-12">
             <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 technologyStackMargin noPaddingLeftRight"  data-ng-repeat="tech in app.technologyList">
                 <div class="technologyStack">                     
                    <div class="" data-ng-click="app.changeTechnology(tech)">
                            <a class="technologyLink" data-ng-class={{"technology.isSelected?'liftUp':''"}}><img src={{tech.img}} alt={{tech.alt}} /></a>
                    </div> 
                    <div class="technologyWrapper">
                        <h3 class="centerAlign onlyMarginTop10">{{tech.Name}}</h3>
                        <div class="centerAlign textColorgrey techDescription">{{tech.Tagline}}</div>  
                    </div>
                    <div class="contentPadding content"><span class="centerAlign">{{tech.Content}}</span></div>   
                    <div class="flex-center clickable">
                            <div class="text-arrow">
                                <div class="readMore">Read More</div>
                                <div class="traingle"></div>
                            </div>
                    </div>                  
                 </div>
             </div>
         </div> 
     </div>
     <div id="OurClients" class="PaddingTopBottom relative"> 
        <div class="centerAlignHeader" id="clientHeader"><h1 class="semibold">Developing unique solutions to fit customer needs</h1>
            <div class="underLine"></div>
        </div>
        <div id="myCarousel" class="carousel paddingTopBottom" data-ride="carousel">
                    <div class="carousel-inner">
                            <div class="item row" data-ng-repeat="slide in app.slideList" data-ng-class={{"slide.isSelected?'active':''"}}>
                                <div id="clientDetails" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 clientDetailsBorder">
                                    <div class="companyName show"><img src="{{slide.companyImage}}" /></div>
                                    <div class="clientImage centerAlign"><img src="{{slide.clientImage}}" /></div>
                                    <div class="clientName centerAlign">{{slide.clientName}},</div>
                                    <div class="clientPosition centerAlign">{{slide.clientPosition}}</div>
                                    <div class="companyNameSmall hide centerAlign"><img src="{{slide.companyImage}}" /></div>
                                </div>
                                <div class="appreciation col-xs-12 col-sm-6 col-md-8 col-lg-9">
                                    {{slide.content}}
                                </div>
                            </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-ng-repeat="slides in app.slideList" data-slide-to="{{slides.id}}" data-ng-class={{"slides.isSelected?'active':''"}}></li>
                    </ol>
        </div>
        <div class="OurClients" id="clientLogos">
            <img class="clientLogo" data-ng-repeat="client in app.clients" data-ng-class={{"client.name==='Starbucks'?'starbucksImage':''"}} src="{{client.logo}}" alt="{{client.name}}"/>
        </div>        
     </div> 
      <div id="footer">
                    <div class="footer">
                        <div class="row">
                            <ul class="sidebar-nav col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <!--left25Percent-->
                                <li class="footer-brand">
                                    <span class="navHeadings">Expertise</span>
                                </li>
                                <li>
                                    <a href="Expertise.html">Data Management</a>
                                </li>
                                <li>
                                    <a href="Expertise.html?q=1">Machine Learning</a>
                                </li>
                                <li>
                                    <a href="Expertise.html?q=2">Microsoft Big Data Solutions</a>
                                </li>
                                <li>
                                    <a href="Expertise.html?q=3">Power BI & Visualizations</a>
                                </li>
                                <li>
                                    <a href="Expertise.html?q=4">Web Development & Cloud Services</a>
                                </li>
                            </ul>
                            <ul class="sidebar-nav col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                <li class="footer-brand">
                                    <span class="navHeadings">Profile</span>
                                </li>
                                <li>
                                    <a href="Profile.html">About</a>
                                </li>
                                <li>
                                    <a href="Profile.html?q=1">Delivery Approach</a>
                                </li>
                                <li>
                                    <a href="Profile.html?q=2">Recognitions</a>
                                </li>
                                <li>
                                    <a href="Profile.html?q=3">Management</a>
                                </li>
                                <li>
                                    <a href="Profile.html?q=4">Clients</a>
                                </li>
                            </ul>
                            <ul class="sidebar-nav col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                <!--left50Percent-->
                                <li class="footer-brand">
                                    <span class="navHeadings">Careers</span>
                                </li>
                                <li>
                                    <a href="Careers.html">Redmond</a>
                                </li>
                                <li>
                                    <a href="Careers.html?q=Hyderabad">Hyderabad</a>
                                </li>
                                <li>
                                    <a href="Careers.html?q=Mumbai">Mumbai</a>
                                </li>

                            </ul>
                            <ul class="sidebar-nav col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                <!--left75Percent-->
                                <li class="footer-brand">
                                    <span class="navHeadings">News</span>
                                </li>
                                <li>
                                    <a href="News.html">Latest News</a>
                                </li>
                                <li>
                                    <a href="News.html">Press Coverage</a>
                                </li>

                            </ul>
                            <ul class="sidebar-nav col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <!--left75Percent-->
                                <li class="footer-brand">
                                    <span class="navHeadings">Contact Us</span>
                                </li>
                                <li class="navImages">
                                    <a href="Contactus.html">
                                        <img src="img\ContactUs_Address.svg" alt="ContactUs" class="ContactUs">
                                    </a>
                                    <a href="Contactus.html">
                                        <img src="img\ContactUs_Call.svg" alt="Phone" class="ContactUs">
                                    </a>
                                    <a href="Contactus.html">
                                        <img src="img\ContactUs_Map.svg" alt="Maps" class="ContactUs">
                                    </a>
                                </li>
                                <li class="footer-brand">
                                    <span class="navHeadings">Follow Us</span>
                                </li>
                                <li class="navImages">
                                    <a href="https://www.facebook.com/maqsoftware">
                                        <img src="img\FollowUs_Facebook.svg" alt="Facebook" class="FollowUs">
                                    </a>
                                    <a href="http://www.linkedin.com/company/maq-software">
                                        <img src="img\FollowUs_LinkedIn.svg" alt="LinkedIn" class="FollowUs">
                                    </a>
                                    <a href="https://twitter.com/MAQSoftware">
                                        <img src="img\FollowUs_Twitter.svg" alt="Twitter" class="FollowUs">
                                    </a>
                                    <a href="https://youtube.com/maqsoftware">
                                        <img src="img\FollowUs_YouTube.svg" alt="YouTube" class="FollowUs">
                                    </a>
                                    <a href="https://github.com/maqsoftware">
                                        <img src="img\FollowUs_GitHub.svg" alt="GitHub" class="FollowUs">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>              
                </div>            
        </div>
    </body>
</html>