

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header -->
        <!--<header id="header" class="header">
            <div class="container header-inner">-->

                <!-- Logo -->
                <!--<div class="logo">
                    <a href="index.html">
                        <img class="logo-light" src="img/MAQSoftware.png" alt="MAQ Software" />
                        <img class="logo-dark" src="img/MAQSoftware.png" alt="MAQ Software" />
                    </a>
                </div>-->
                <!-- End Logo -->

                <!-- Mobile Navbar Icon -->
                <!--<div class="nav-mobile nav-bar-icon">
                    <span></span>
                </div>-->
                <!-- End Mobile Navbar Icon -->

            <!--</div>
        </header>-->
        <!-- End Header -->

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
		
        <section class="inner-intro dark-bg bg-image overlay-dark parallax-background1 about">
        </section>

        <!--<video loop muted autoplay class="bannervideo">
            <source src="../media/artificialintelligence.mov" type="video/mp4">
        </video>-->
        <!-- End Intro Section -->
        
        <!-- Sidebar Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
					<div class="col-md-9 col-sm-8" id="DataSection">
                        <article class="LeftArticle FullWidth" id="ArticleAbout">
                            <p class="DataSubContent">MAQ Software delivers innovative software solutions for Fortune 500 companies. Using the latest Agile engineering techniques in a disciplined manner, the company accelerates software initiatives that enable our customers to transform their industries.</p>
                            <p class="DataSubContent">We specialize in Data Management and Reporting to help business users support their intuition with data. Our customers repeatedly tell us that based on the number of projects completed and volume of data processed using Azure Data Lake, COSMOS, Power BI and Azure, we are one of the most advanced suppliers at their company.</p>
                            <p class="DataSubContent">Prior to using Power BI, we developed and deployed over 100 front end reports using HTML hosted on SharePoint Online (Office 365). These reports were used to drive sales and marketing activities at CXO level and below at Fortune 500 companies.</p>
                            <ul class="CircleBullets">
                                <li>We use over 40 large data sources that cover social, product use, licenses, pricing, sales, and marketing metrics every day. There are few specialized teams that have worked deeply with so many complex data sources.</li>
                                <li>We are a “learn it first” company and keep our skills current. In addition to project work, <b><i>all</i></b> engineers at our company complete Coursera <a class="BackLink viLinks" href="https://www.coursera.org/specializations/data-warehousing">Data Warehousing Specialization</a> (five courses) to ensure a strong theoretical background. Data Warehouse is not a required course in Computer Science curriculums in most colleges. All our Computer Science engineers also complete Harvard CS50x and Data Structure and Algorithms courses</li>
                                <li>Our engineers are trained and certified on Microsoft SQL Server 2016 (761, 762, 767, 768) and Power BI using rigorous certifications. We have the largest Microsoft certification density (Microsoft certification/ per employee).</li>
                                <li>We are the <b><i>only</i></b> Microsoft supplier that requires a Bachelor’s or a Master’s degree in Computer Science for all engineers in India (and not related fields such as Civil engineering or Mechanical Engineering). As a result, our engineers adapt to changes in technology (one of our core values) every few years without difficulty.</li>
                                <li>Our 60 Agile Certified Practitioners (ACP)—certified by the Project Management Institute (PMI)—have the expertise and experience to drive projects using Agile techniques that are much more efficient than the traditional waterfall model. As a result, we maintain the highest ratio of Agile Certified Practitioners to software engineers (1:9) in the industry. We do not rely on PMP certification which is based on outdated waterfall development methods.</li>
                                <li>Our core team has worked with Microsoft for over 20 years with multiple product and marketing groups. As a result, we bring continuity and consistency in our work with you.</li>
                                <li>Our company has been always organized around Managed Outsourced Services model (as opposed to temporary staffing model) using a combination of Redmond and India (Hyderabad and Mumbai) based teams to complete work quickly.</li>
                                <li>Our teams also include inhouse UX designers to quickly create visualizations and Power BI dashboards to implement them quickly without waiting for a response from third parties.</li>
                                <li>We embed technically strong MBAs into our BI engineering teams to meld business and engineering perspective. Our management team members have attended Michigan, IIMs, ISB and other leading management programs.</li>
                            </ul>
                            <p class="DataSubContent">MAQ Software has worked closely with marketing, operations and product groups across Fortune 500 companies. More than 50,000 Product, Sales, and Marketing Managers around the globe use custom applications (both on-premise and Cloud hosted), Line-of-Business (LOB), and Data Analytics & Business Intelligence (BI) solutions created and managed by us.</p>
                            <p class="DataSubContent">Our Project Managers, Analysts, and Developers work with our enterprise customers to develop advanced business-critical BI solutions.</p>
                        </article>
					</div>

                    <div class="col-md-3 col-sm-4 mt-xs-30">
                        <div class="sidebar-widget">
                            <h3 class="SemiBold">Our Core Values</h3>
                            <aside class="SemiBold corevaluesparent">
                                <p class="corevalues pd-19 align-middle shadow mtb-30"><span>Integrity</span></p>
                                <p class="corevalues pd-15 align-middle shadow mtb-30">Commitment to Customer Success</p>
                                <p class="corevalues pd-19 align-middle shadow mtb-30">Delivery Orientation</p>
                                <p class="corevalues pd-15 align-middle shadow mtb-30">Adoption of Latest Technologies</p>
                            </aside>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- End Sidebar Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>

    </div>