<!-- Site Wraper -->
<div class="wrapper">
    <!-- Header -->
    <!--<header id="header" class="header">
        <div class="container header-inner">-->
    <!-- Logo -->
    <!--<div class="logo">
        <a href="index.html">
            <img class="logo-light" src="img/MAQSoftware.png" alt="MAQ Software" />
            <img class="logo-dark" src="img/MAQSoftware.png" alt="MAQ Software" />
        </a>
    </div>-->
    <!-- End Logo -->
    <!-- Mobile Navbar Icon -->
    <!--<div class="nav-mobile nav-bar-icon">
        <span></span>
    </div>-->
    <!-- End Mobile Navbar Icon -->
    <!--</div>
    </header>-->
    <!-- End Header -->
    <!-- CONTENT --------------------------------------------------------------------------------->
    <!-- Intro Section -->
    <!--<section class="">
        <iframe class="" id="careerbannervideo" src="https://www.youtube.com/embed/mgyfCETF1lA?enablejsapi=1&autoplay=1&showinfo=0&controls=0" frameborder="0" height="530px" width="100%"></iframe>
    </section>-->
    <!--<video loop muted autoplay class="bannervideo">
        <source src="https://www.youtube.com/embed/mgyfCETF1lA" type="video/mp4">
    </video>-->
    <!-- End Intro Section -->
    <!-- Sidebar Section -->
    <section class="ptb ptb-sm-80" id="careersinInd">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8" id="DataSection">
                    <div id="MainContent">
                        <div class="dvLimitedWith dvBackground Pad40 PagePadding">
                            <h1 class="DataTitle SemiBold Color58585a">Join us. Explore your potential.</h1>
                            <aside class="LeftArticle CarrersDataSection FloatLeft">
                                <article>
                                    <div id="BreadCrumb" class="SecondNav" style="display: none;">
                                        <a href="/careers?q=India" class="BackLink viLinks MarginBoT25">Back to Openings</a><span> &raquo; </span><span class="JobTitle">@title</span>
                                    </div>
                                    <p id="JobTitle" class="Datatagline SemiBold Clear" style="display: none;">@title</p>
                                    <div id="ProfileData" class="Loading m30">
                                    </div>
                                </article>
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 mt-xs-30">
                    <div class="sidebar-widget">
                        <aside class="CareersRight FloatLeft">
                            <h3>Contact Information</h3>
                            <div class="m30">
                                <p>For positions in India,</p>
                                <p>e-mail your resume to</p>
                                <p class="Colorred"><a id="IndMail" class="BackLink viLinks">IndiaJobs@MAQSoftware.com</a></p>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Sidebar Section -->
    <!-- End CONTENT ------------------------------------------------------------------------------>
</div>