    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header -->
        <!--<header id="header" class="header">
            <div class="container header-inner">-->

                <!-- Logo -->
                <!--<div class="logo">
                    <a href="index.html">
                        <img class="logo-light" src="img/MAQSoftware.png" alt="MAQ Software" />
                        <img class="logo-dark" src="img/MAQSoftware.png" alt="MAQ Software" />
                    </a>
                </div>-->
                <!-- End Logo -->

                <!-- Mobile Navbar Icon -->
                <!--<div class="nav-mobile nav-bar-icon">
                    <span></span>
                </div>-->
                <!-- End Mobile Navbar Icon -->

            <!--</div>
        </header>-->
        <!-- End Header -->

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
		
        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="img/Expertise/Expertise-Cloud.jpg">
        </section>
        <!-- End Intro Section -->
        
        <!-- Sidebar Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
					<div class="col-md-9 col-sm-8" id="DataSection">
                        <h1 class="DataTitle SemiBold Color58585a">Cloud Transformation</h1>
                        <article class="LeftArticle">
                            <p class="DataSubContent">
                                We have been developing applications on Azure since it was released in 2010.
                                We help you optimize and manage your cloud solutions in order to reduce the amount of time required to manage, maintain, and deploy them and help you reduce your overall costs.
                            </p>
                            <i><p class="DataSubContent Color3f3f3f">Services</p></i>
                            <ul class="CircleBullets">
                                <li>Develop and host custom applications with low cost strategy and high availability</li>
                                <li>Migrate existing applications to Azure</li>
                                <li>Enable transition of existing cloud applications to Azure</li>
                                <li>Upgrade and maintain applications on Azure</li>
                                <li>Optimize cloud solutions for faster access, enhancing user experience</li>
                                <li>Ensure secure applications comply with latest industry standards</li>
                            </ul>
                        </article>
					</div>

                    <div class="col-md-3 col-sm-4 mt-xs-30">
                        <div class="sidebar-widget">
                            <article class="RightArticle">
                                <a href="https://azure.microsoft.com/" target="_blank"><img class="ProfileImage BlockTag MarginTop35 PadLeft4" src="img/Expertise/Windows-Azure.jpg" alt="Microsoft Azure" title="Microsoft Azure" /></a>
                                <a href="https://aws.amazon.com/" target="_blank"><img class="ProfileImage BlockTag MarginTop35 PadLeft4" src="img/Expertise/AWS_logo.png" alt="Amazon Web Services" title="Amazon Web Services" /></a>
                            </article>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- End Sidebar Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>

    </div>
    <!-- Site Wraper End -->