    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Header -->
        <!--<header id="header" class="header">
            <div class="container header-inner">-->

                <!-- Logo -->
                <!--<div class="logo">
                    <a href="index.html">
                        <img class="logo-light" src="img/MAQSoftware.png" alt="MAQ Software" />
                        <img class="logo-dark" src="img/MAQSoftware.png" alt="MAQ Software" />
                    </a>
                </div>-->
                <!-- End Logo -->

                <!-- Mobile Navbar Icon -->
                <!--<div class="nav-mobile nav-bar-icon">
                    <span></span>
                </div>-->
                <!-- End Mobile Navbar Icon -->

            <!--</div>
        </header>-->
        <!-- End Header -->

        <!-- CONTENT --------------------------------------------------------------------------------->
        <!-- Intro Section -->
		
        <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="../img/Expertise/Expertise-Sharepoint.jpg">
        </section>
        <!-- End Intro Section -->
        
        <!-- Sidebar Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
					<div class="col-md-9 col-sm-8" id="DataSection">
                        <h1 class="DataTitle SemiBold Color58585a">Collaboration & Content</h1>
                        <article class="LeftArticle">
                            <p class="DataSubContent">MAQ Software has delivered over 100 SharePoint projects. We have a large team with vast experience in delivering SharePoint projects for various teams at Microsoft Corporation. We have processes and tools for fast paced SharePoint content migration, development, and testing.</p>
                            <p class="DataSubContent">We have successfully worked with various business groups, supporting them during the entire life cycle of the application.</p>
                            <ul class="MarginTop5 CircleBullets">
                                <li>For a marketing operations group, we have been involved during all stages of development and rollout of the SharePoint Online and SQL Server 2014-based business intelligence portals.</li>
                                <li>We supported the SharePoint 2013 Server farm that is used by thousands of marketers worldwide. We work closely with a global marketing operations team to enhance portal performance, ensure consistency in reporting solutions, build standardized components for easier maintenance, and assist with user queries. Due to superior engineering and operations management, we are helping deliver 99.9% uptime.</li>
                                <li>In 2015 and 2016, we migrated SharePoint 2013 farm solutions to SharePoint Online using Office 365.</li>
                            </ul>
                            <i><p class="DataSubContent Color3f3f3f">SharePoint On-premise</p></i>
                            <ul class="MarginTop5 CircleBullets">
                                <li>70-488, 70-331, and 70-332 Microsoft certified team of developers and administrators</li>
                                <li>Web Content Management and search features</li>
                                <li>Delivered projects leveraging on latest SharePoint offerings - Cross site publishing, Web Content Management, Display Templates, Content Search Web parts, etc.</li>
                                <li>Developed SharePoint apps &#45; available for download via <a class="BackLink" target="_blank" href="https://store.office.com/">Office store</a></li>
                            </ul>
                            <i><p class="DataSubContent Color3f3f3f">Office 365 and SharePoint Online</p></i>
                            <ul class="MarginTop5 CircleBullets">
                                <li>Delivered projects on SharePoint Online</li>
                                <li>Developed Windows store apps and mobile apps leveraging integrated with SharePoint Online sites</li>
                            </ul>
                            <i><p class="DataSubContent Color3f3f3f">Services</p></i>
                            <ul class="MarginTop5 CircleBullets">
                                <li>Branding SharePoint sites</li>
                                <li>Improving content management by developing portals for people to access information</li>
                                <li>Improving people collaboration by designing and developing efficient authoring, publishing and approval workflows</li>
                                <li>Implementing framework for preview, authoring, rendering and publishing content (e.g. Content Services Platform)</li>
                                <li>Migrating to the latest SharePoint 2016 from previous versions of Microsoft SharePoint Server</li>
                                <li>Developing SharePoint Line of Business Apps</li>
                                <li>Hosting on corporate infrastructure to enable self-management with limited support from IT teams</li>
                                <li>Integrating Active Directory Federation Service for single click log on</li>
                                <li>Creating and deploying custom web parts for specific requirements</li>
                            </ul>
                        </article>
					</div>

                    <div class="col-md-3 col-sm-4 mt-xs-30">
                        <div class="sidebar-widget">
                            <article class="RightArticle">
                                <a href="https://products.office.com/en-us/sharepoint/" target="_blank"><img class="ProfileImage BlockTag MarginTop35" src="../img/Expertise/Sharepoint.png" alt="SharePoint" title="SharePoint" /></a>
                                <a href="https://products.office.com/en-us/business/explore-office-365-for-business" target="_blank"><img class="ProfileImage BlockTag MarginTop35" src="../img/Expertise/Office365logo.png" alt="Office 365" title="Office 365" /></a>
                                <a href="https://products.office.com/en-us/sharepoint/sharepoint-online-collaboration-software" target="_blank"><img class="ProfileImage BlockTag MarginTop35" src="../img/Expertise/SharePointOnline.png" alt="SharePoint Online" title="SharePoint Online" /></a>
                            </article>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- End Sidebar Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>

    </div>
    <!-- Site Wraper End -->