<!--<div id="HeadContent">
    <meta name="description" content="View address and contact details for our Redmond and India (Hyderabad and Mumbai) engineering center. Get directions to reach our office or view the road map." />
    <meta name="keywords" content="MAQ Software, contact us, Hyderabad address, contact details, phone number, road map, map, Hitec City, SEZ, directions, Mumbai address, Redmond Address, sales" />
</div>-->
<div class="wrapper">
    <div class="container pt ptb-sm-80" id="contactSection">
        <div class="row">
            <div class="col-md-12">
                <h1>Get in touch with us</h1>
                <p>To facilitate interactions with our key clients, our offices are conveniently located within a few miles of their facilities in the US and in India.</p>
                <div class="spacer-15"></div>
                <p>To ensure easy access to public transportation for our team members in Mumbai, our office is located next to Chakala Metro station. Our US office is located close to the Overlake Transit Center in Redmond, Washington.</p>
                <div class="spacer-15"></div>
                <p>Our company provides free parking for our staff members in all our locations.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="img-resposive" src="../img/Contact/Redmond.jpg" alt="Redmond" title="Redmond" />
                <div class="row">
                    <div class="col-md-7"><h2>Redmond</h2></div>
                    <div class="col-md-4 pl-0 ptb-15"><a class="btn-link-a VwMap GetDir viLinks" data-name="Redmond">View map</a></div>
                </div>
                <div>
                    <p>15446 Bel-Red Road, Suite 201</p>
                    <p>Redmond, WA 98052</p>
                    <p>Tel: (425) 526 5399</p>
                    <a class="viLinks BackLink" href="/">sales@maqsoftware.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-resposive" src="../img/Contact/Hyderabad.jpg" alt="Hyderabad" title="Hyderabad" />
                <div class="row">
                    <div class="col-md-7"><h2>Hyderabad</h2></div>
                    <div class="col-md-4 pl-0 ptb-15">
                        <a class="btn-link-a VwMap GetDir viLinks" data-name="Hyderabad">View map</a>
                    </div>
                </div>
                <div>
                    <p>Level 7, Astro, aVance Business Hub</p>
                    <p>Behind Dell Campus </p>
                    <p>HITEC City 2, Madhapur </p>
                    <p>Hyderabad 500 081</p>
                    <p>Telangana</p>
                    <p>Tel: +91 40 4010 0570</p>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-resposive" src="../img/Contact/Mumbai.jpg" alt="Mumbai" title="Mumbai" />
                <div class="row">
                    <div class="col-md-7">
                        <h2>Mumbai</h2>
                    </div>
                    <div class="col-md-4 pl-0 ptb-15">
                        <a class="btn-link-a VwMap GetDir viLinks" data-name="Mumbai">View map</a>
                    </div>
                </div>
                <div>
                    <p>201, Meadows Building</p>
                    <p>Sahar Plaza on Andheri Kurla Road</p>
                    <p>Andheri East</p>
                    <p>Mumbai 400 059</p>
                    <p>Maharashtra</p>
                    <p>Tel: +91 22 3080 0201</p>
                </div>
            </div>
        </div>
        <div class="spacer-30"></div>
        <div class="row">
            <div id="Direction" class="col-md-4">
                <div id="NHYD">
                    <h2>GET DIRECTIONS</h2>
                    <p id="MapAddress"></p>
                    <p>Get driving directions from</p>
                    <div style="overflow: hidden;">
                        <input id="FromAddress" class="maqwatermark form-control" type="search" placeholder="Type address..." />
                        <button type="button" id="GetDirection" class="btn btn-primary btn-md">Go</button>
                        <button type="button" id="ClearDirection" class="btn btn-primary btn-md">Clear</button>
                    </div>
                    <p id="NHYDTtl" style="display: none;">Turn-by-Turn directions</p>
                    <p id="NHYDMile" style="display: none;"></p>
                    <div id="BingDirection">
                    </div>
                </div>
            </div>
            <div id="MapContainer" class="col-md-8">
                <div id="myMap">
                </div>
            </div>
        </div>
        <div class="spacer-30"></div>
    </div>
</div>
