<!-- Intro Section -->
<section class="inner-intro bg-image overlay-dark dark-bg parallax parallax-background1 contactposter" data-background-img="../img/Banners/contact.jpg">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Contact Us</h2>

        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->
<!-- Contact Section -->
<section class="ptb ptb-sm-80">
    <div class="container">

        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h3>Get In Touch</h3>
                <p class="lead">
                    To facilitate interactions with our key clients, our offices are conveniently located within a few miles of their facilities in the US and in India.
                    Our company provides free parking for our staff members in all our locations.
                </p>
            </div>
        </div>
        <div class="spacer-55"></div>
        <div id="Addresses" style="padding-left:8%;">
            <!-- Email -->
            <div class="row" style="height: 80px;">
                <div class="col-md-4 contact"></div>
                <div class="col-md-4 contact">
                    Email: <a href="mailto:sales@MAQSoftware.com"><i class="fa fa-envelope-o left"></i>sales@maqsoftware.com</a>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <!-- Details -->
            <div class="row">
                <!--Redmond-->
                <div class="col-md-4 contact">
                    <div class="contact-box-left mb-45 h-120">
                        <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                        <h6>Redmond <a class="btn-link-a VwMap viLinks" data-name="Redmond">View map</a></h6>
                        <p>
                            15446 Bel-Red Road, Suite 201,<br />
                            Redmond, WA 98052.
                        </p>


                    </div>
                    <div class="contact-box-left mb-45">
                        <a><i class="fa fa-phone left"></i>(425) 526 5399</a>
                    </div>


                    <div class="contact-box-left mb-45">
                        <div class="contact-icon-left"><i class="ion ion-ios-clock"></i></div>
                        <h6>Business Hours</h6>
                        <p>
                            <span>Mon - Fri: 8:30am to 5:30pm</span>
                        </p>
                    </div>

                </div>
                <!--Hyderabad-->
                <div class="col-md-4 contact">
                    <div class="contact-box-left mb-45 h-120">
                        <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                        <h6>Hyderabad <a class="btn-link-a VwMap viLinks" data-name="Hyderabad">View map</a></h6>
                        <p>
                            Level 7, Astro, aVance Business Hub<br />
                            Behind Dell Campus<br />
                            HITEC City 2, Madhapur<br />
                            Hyderabad 500 081<br />
                            Telangana
                        </p>


                    </div>
                    <div class="contact-box-left mb-45">
                        <a><i class="fa fa-phone left"></i>+91 40 4010 0570</a>
                    </div>
                    <div class="contact-box-left mb-45">
                        <div class="contact-icon-left"><i class="ion ion-ios-clock"></i></div>
                        <h6>Business Hours</h6>
                        <p>
                            <span>Mon - Fri: 8:30am to 5:30pm</span>
                        </p>
                    </div>

                </div>
                <!--Mumbai-->
                <div class="col-md-4 contact">
                    <div class="contact-box-left mb-45 h-120">
                        <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                        <h6>Mumbai <a class="btn-link-a VwMap viLinks" data-name="Mumbai">View map</a></h6>
                        <p>
                            201, Meadows Building<br />
                            Sahar Plaza on Andheri Kurla Road
                            Andheri East
                            Mumbai 400 059
                            Maharashtra
                        </p>

                    </div>
                    <div class="contact-box-left mb-45">
                        <a><i class="fa fa-phone left"></i>+91 22 3080 0201</a>
                    </div>
                    <div class="contact-box-left mb-45">
                        <div class="contact-icon-left"><i class="ion ion-ios-clock"></i></div>
                        <h6>Business Hours</h6>
                        <p>
                            <span>Mon - Fri: 8:30am to 5:30pm</span>
                        </p>
                    </div>
                </div>

            </div>

        </div>
        <!-- Follow Us-->
        <div class="row">
            <div class="col-md-4  contact"></div>
            <div class="col-md-4  contact">
                <div class=" mb-45 text-center">


                    <!--<div class="contact-icon-left"><i class="ion ion-social-rss"></i></div>-->
                    <h6>Follow Us</h6>
                    <ul class="social" style="padding-left: 0">
                        <li><a target="_blank" href="https://twitter.com/MAQSoftware"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/maqsoftware"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/company/maq-software"><i class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://github.com/maqsoftware"><i class="ion ion-social-github"></i></a></li>
                        <li><a target="_blank" href="https://youtube.com/maqsoftware"><i class="ion ion-social-youtube"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<!-- Map Section -->
<section class="map">
    <iframe width="100%"
            height="600"
            frameborder="0" style="border:0"
            id="map"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAmjD81Lsw8gUkA-9q6mJG7EotQgaSke74
                    &q=MAQ Software Redmond WA" allowfullscreen></iframe>
</section>
<!-- Map Section -->