 <!-- Intro Section -->
<section id="intro">
    <!-- Hero Slider Section -->
    <div class="flexslider fullscreen-carousel hero-slider-1 ">
        <ul class="slides">

            <!--Slide-->
            <li data-slide="dark-slide">                
                <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="../img/heroHome1.jpg">
                    <div class="js-Slide-fullscreen-height container">
                        <div class="intro-content">
                            <div class="intro-content-inner text-left">
                                <h1 class="h1">Data Management</h1>
                                <h2 class="lead">Optimized data warehouse, customized reports,<br /> dashboards, faster and better decision making</h2>
                                <br />
                                <div><a class="btn btn-md btn-white-line xs-hidden" href="/expertise/datamanagement">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!--Slide-->
            <li data-slide="dark-slide">
                <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="../img/heroHome2.jpg">
                    <div class="js-Slide-fullscreen-height container">
                        <div class="intro-content">
                            <div class="intro-content-inner text-left">
                                <h1 class="h1">Self Service BI</h1>
                                <p class="lead">Rich data visualizations, custom dashboards, and intuitive report generation <br /> keep you on the cutting edge of new trends and emerging markets</p>
                                <br />
                                <div><a class="btn btn-md btn-white-line xs-hidden" href="/expertise/selfservicebi">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!--Slide-->
            <li data-slide="dark-slide">
                <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="../img/heroHome3.jpg">
                    <div class="js-Slide-fullscreen-height container">
                        <div class="intro-content">
                            <div class="intro-content-inner text-left">
                                <h1 class="h1">App Development</h1>
                                <p class="lead">Retail and Enterprise apps for Windows Store, Android, iPhone, iPad, Office, and SharePoint</p>
                                <br />
                                <div><a class="btn btn-md btn-white-line xs-hidden" href="/expertise/appdevelopment">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!--Slide-->
            <li data-slide="dark-slide">
                <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="../img/heroHome4.jpg">
                    <div class="js-Slide-fullscreen-height container">
                        <div class="intro-content">
                            <div class="intro-content-inner text-left">
                                <h1 class="h1">Cloud Transformation</h1>
                                <p class="lead">Reduce the infrastructure cost, increase availability, and scalability of your application</p>
                                <br />
                                <div><a class="btn btn-md btn-white-line xs-hidden" href="/expertise/cloudtransformation">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!--Slide-->
            <li data-slide="dark-slide">
                <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="../img/heroHome5.jpg">
                    <div class="js-Slide-fullscreen-height container">
                        <div class="intro-content">
                            <div class="intro-content-inner text-left">
                                <h1 class="h1">Collaboration & Content</h1>
                                <p class="lead">
                                    Portal branding, customizations,
                                    self-service capabilities, better content management, and collaboration
                                </p>
                                <br />
                                <div><a class="btn btn-md btn-white-line xs-hidden" href="/expertise/collaborationcontent">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!--Slide-->
            <li data-slide="dark-slide">
                <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="../img/heroHome6.jpg">
                    <div class="js-Slide-fullscreen-height container">
                        <div class="intro-content">
                            <div class="intro-content-inner text-left">
                                <h1 class="h1">Artificial Intelligence</h1>
                                <p class="lead">Use cutting edge technology to predict data trends, recognize speech, analyze facial patterns, <br /> evaluate social media sentiment, and more</p>
                                <br />
                                <div><a class="btn btn-md btn-white-line xs-hidden" href="/expertise/artificialintelligence">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <!-- End Hero Slider Section -->
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->
<!--data management Section-->
<section id="about" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <!--<div class="row text-center">
            <div class="col-md-12">
                <h3 class="lead"><b>We are a technical solutions company specializing in Data Management & Data Analytics solutions.</b></h3>
            </div>
        </div>-->
        <div class="row mt-80">
            <div class="col-md-5 text-center">
                <div><img class="img-responsive" src="img/Data Manage.png" alt="Data Management"></div>
            </div>
            <div class="col-md-7 mb-30">
                <h4>Data Management</h4>
                <div class="spacer-15"></div>
                <p>Consolidate data and minimize inconsistencies</p>
                <p>Develop common data service from data located across enterprise and broader ecosystem using our advanced tools and processes. As a Preferred Supplier for Data Management category, we consolidate 400TB data every day from over 30 data sources in the Data Warehouses. Across our project portfolio, we process over 1,000TB of data everyday to help business derive insights.</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a" href="/expertise/datamanagement">Learn more</a>
            </div>
        </div>
    </div>
</section>
<!-- End data management Section-->
<hr />
<!--AI Section-->
<section id="about" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">        
        <div class="row mt-15">
            <!-- Welcome Content -->
            <div class="col-md-7 mb-30">
                <h4>Artificial Intelligence</h4>
                <p>Predict outcomes using your data</p>
                <p>Using Microsoft AI and Amazon AI, we translate your data to provide insights to you. Our clients use our expertise to identify new customers, cross the next logical product, upsell to increase profitability and analyze customer sentiment. With our custom intelligent bots, our clients have improved speed and accuracy of customer service. Using advance text and media analysis, we have helped our customers identify sentiment and key phrases.</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a" href="/expertise/artificialintelligence">Learn more</a>
            </div>
            <!-- End Welcome Content -->

            <div class="col-md-5 text-center">
                <div class="img-responsive"><img src="img/Artificial.png" alt="Artificial Intelligence"></div>
            </div>

        </div>
    </div>
</section>
<!-- End AI Section-->
<hr />
<!--PBIX Section-->
<section id="about" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row mt-15">
            <div class="col-md-5 text-center">
                <div><img class="img-responsive" src="img/Power BI.png" alt="Self Service BI"></div>
            </div>
            <div class="col-md-7 mb-30">
                <h4>Self Service BI</h4>
                <p>Analyze data quickly using Power BI</p>
                <p>Using Microsoft AI and Amazon AI, we translate your data to provide insights to you. Our clients use our expertise to identify new customers, cross the next logical product, upsell to increase profitability and analyze customer sentiment. With our custom intelligent bots, our clients have improved speed and accuracy of customer service. Using advance text and media analysis, we have helped our customers identify sentiment and key phrases.</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a"  href="/expertise/selfservicebi">Learn more</a>
            </div>
        </div>
    </div>
</section>
<!-- End PBIX Section-->
<hr />
<!--Big data Section-->
<section id="about" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row mt-15">
            <!-- Welcome Content -->
            <div class="col-md-7 mb-30">
                <h4>App Development</h4>
                <div class="spacer-15"></div>
                <p>Retail and Enterprise apps for Windows Store, Android, iPhone, iPad, Office, and SharePoint</p>
                <p>We have worked on 150+ Application Product Development and Test projects in various technologies. We have developed solutions using .NET 2.0 through .NET 4.5, used HTML, JavaScript, CSS, Azure, Office Apps, SharePoint, SQL versions, COSMOS, SSIS, SSRS, SSAS, MDX, and Power BI, to name a few.</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a" href="/expertise/appdevelopment">Learn more</a>
            </div>
            <!-- End Welcome Content -->

            <div class="col-md-5 text-center">
                <div><img class="img-responsive" src="img/Big.png" alt="Big Data"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Big data Section-->
<hr />

<!--Cloud Solutions Section-->
<section id="about" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row mt-15">
            <div class="col-md-5 text-center">
                <div><img class="img-responsive" src="img/Big.png" alt="Big Data"></div>
            </div>
            <!-- Welcome Content -->
            <div class="col-md-7 mb-30">
                <h4>Cloud Transformation</h4>
                <div class="spacer-15"></div>
                <p>Simplify access to information while cutting storage costs</p>
                <p>Using Microsoft Power BI and Amazon QuickSight, analysts can quickly create near real time dashboards, great visuals without waiting for custom reports. As a Power BI Preferred Supplier, we implemented the largest enterprise Power BI solutions used by over 50,000 users today. Using our custom Power BI solutions to automate deployment, validation and monitoring, we accelerate transformations in large enterprises. As the largest publisher of custom visuals for Power BI on Microsoft Store, we have the expertise to design and implement your unique reporting needs quickly.</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a" href="/expertise/cloudtransformation">Learn more</a>
            </div>
            <!-- End Welcome Content -->
        </div>
    </div>
</section>
<!-- End Cloud Solutions Section-->
<hr />
<!--Collaboration Section-->
<section id="about" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row mt-15">
            <div class="col-md-7 mb-30">
                <h4>Collaboration & Content</h4>
                <div class="spacer-15"></div>
                <p>Collaboration & Content</p>
                <p>We have a large team with vast experience in delivering SharePoint projects for various teams at Microsoft Corporation. We have processes and tools for fast paced SharePoint content migration, development and test.</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a" href="/expertise/collaborationcontent">Learn more</a>
            </div>
            <div class="col-md-5 text-center">
                <div><img class="img-responsive" src="img/Data Manage.png" alt="Data Management"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Collaboration Section-->
<!-- Counter Section -->
<section id="counter" class="overlay-dark80 light-color ptb-80" style="background-position: 0% 0%; background-image: url('../img/full/23.jpg');" data-stellar-background-ratio="0.5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 mb-sm-30">
                <h1 class="counter">1</h1><span class="dataCountFormatPlus">PB+</span>
                <h6>Data processed daily</h6>
            </div>
            <div class="col-md-4 mb-sm-30">
                <h1 class="counter">50,000</h1><span class="dataCountFormatPlus">+</span>
                <h6>Users driving business forward with 300 dashboards</h6>
            </div>
            <div class="col-md-4 mb-sm-30">
                <h1 class="counter">70</h1><span class="dataCountFormatPlus">+</span>
                <h6>Enterprise grade Azure implementations</h6>
            </div>
            <div class="col-md-4 mb-sm-30">
                <h1 class="counter">21</h1><span class="dataCountFormatPlus">+</span>
                <h6>Custom visuals published in Office Store</h6>
            </div>
            <div class="col-md-4 mb-sm-30">
                <h1 class="counter">25</h1><span class="dataCountFormatPlus">+</span>
                <h6>Machine learning models offering new insights on business</h6>
            </div>
            <div class="col-md-4 mb-sm-30">
                <h1 class="counter">5,000</h1><span class="dataCountFormatPlus">+</span>
                <h6>Metrics moving business forward</h6>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Section -->

<!-- Testimonials -->
<section id="testimonial" class="overlay-dark80 dark-bg ptb ptb-sm-80" style="background-image: url('../img/full/22.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <p class="lead">"You are all super talented with admirable work ethics - we greatly appreciate all the work you've done up-to-date."</p>
                    <h6 class="quote-author">Microsoft</h6>
                </div>
            </div>
            <div class="item">
                <div class="testimonial text-center dark-color">
                    <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                    <p class="lead">"Thank you for your efforts. Your hard work has made possible for us to deliver tangible results within a very short period of time."</p>
                    <h6 class="quote-author">Microsoft</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials -->
<hr />

<!-- Blog Section -->
<!--<section id="blog" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <h3 class="float-left float-none-xs">Latest Blog</h3>
        <a class="btn-link-a float-right float-none-xs">View All</a>
        <div class="clearfix"></div>
        <div class="spacer-60"></div>
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                <div class="blog-post">
                    <div class="post-media">
                        <video class="video" style="width: 100%;" width="" height="" preload="auto" poster="media/echo-hereweare.jpg" controls="controls">

                            <source type="video/mp4" src="media/video1.mp4" />

                            <source type="video/webm" src="media/video1.webm" />

                            <source type="video/ogg" src="media/video1.ogv" />
                        </video>
                    </div>
                    <div class="post-meta"><span>by <a>John Doe</a>,</span> <span>Mar 16, 2015</span></div>
                    <div class="post-header">
                        <h5><a href="">Maecenas nec odio ante varcy</a></h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                <div class="blog-post">
                    <div class="post-media">
                        <div class="owl-carousel item1-carousel nf-carousel-theme">
                            <div class="item">
                                <img src="img/full/26.jpg" alt="" />
                            </div>
                            <div class="item">
                                <img src="img/full/04.jpg" alt="" />
                            </div>
                            <div class="item">
                                <img src="img/full/27.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="post-meta"><span>by <a>John Doe</a>,</span> <span>Feb 24, 2015</span></div>
                    <div class="post-header">
                        <h5><a href="">onec pede justo, fringilla vel</a></h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 mb-sm-30">
                <div class="blog-post">
                    <div class="post-media">
                        <img class="item-container" src="img/full/20.jpg" alt="" />
                    </div>
                    <div class="post-meta"><span>by <a>John Doe</a>,</span> <span>Jan 29, 2015</span></div>
                    <div class="post-header">
                        <h5><a href="">Augue velit cursus nunc</a></h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>-->
<!-- End Blog Section -->
<!-- Client Logos Section -->
<section id="client-logos" class="wow fadeIn ptb ptb-sm-80">
    <!-- <div class="container text-center">
        <h3>Recent Clients</h3>
    </div> -->
    <div class="spacer-60"></div>
    <div class="container">
        <div class="owl-carousel client-carousel nf-carousel-theme ">
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/07.svg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/01.svg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/02.svg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/06.svg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/09.svg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/08.svg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/04.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Client Logos Section -->