 <!-- Intro Section -->
<section id="intro">
    <!-- Hero Slider Section -->
    <div class="flexslider fullscreen-carousel hero-slider-1 ">
        <ul class="slides">

            <!--Slide-->
            <li data-slide="dark-slide">                
                <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="../img/Expertise/DataManagement.jpeg">
                    <div class="js-Slide-fullscreen-height container">
                        <div class="intro-content">
                            <div class="intro-content-inner text-left">
                                <h1 class="h1">Data Management</h1>
                                <h2 class="lead">Optimized data warehouse, customized reports,<br /> dashboards, faster and better decision making</h2>
                                <br />
                                <div><a class="btn btn-md btn-white-line xs-hidden" href="/expertise/datamanagement">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!--Slide-->
            <li data-slide="dark-slide">
                <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="../img/Expertise/SelfServiceBI.jpeg">
                    <div class="js-Slide-fullscreen-height container">
                        <div class="intro-content">
                            <div class="intro-content-inner text-left">
                                <h1 class="h1">Self Service BI</h1>
                                <p class="lead">Rich data visualizations, custom dashboards, and intuitive report generation <br /> keep you on the cutting edge of new trends and emerging markets</p>
                                <br />
                                <div><a class="btn btn-md btn-white-line xs-hidden" href="/expertise/selfservicebi">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!--Slide-->
            <li data-slide="dark-slide">
                <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="../img/Expertise/AppDevelopment.jpg">
                    <div class="js-Slide-fullscreen-height container">
                        <div class="intro-content">
                            <div class="intro-content-inner text-left">
                                <h1 class="h1">App Development</h1>
                                <p class="lead">Retail and Enterprise apps for Windows Store, Android, iPhone, iPad, Office, and SharePoint</p>
                                <br />
                                <div><a class="btn btn-md btn-white-line xs-hidden" href="/expertise/appdevelopment">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!--Slide-->
            <li data-slide="dark-slide">
                <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="../img/Expertise/CloudTransformation.jpeg">
                    <div class="js-Slide-fullscreen-height container">
                        <div class="intro-content">
                            <div class="intro-content-inner text-left">
                                <h1 class="h1">Cloud Transformation</h1>
                                <p class="lead">Reduce the infrastructure cost, increase availability, and scalability of your application</p>
                                <br />
                                <div><a class="btn btn-md btn-white-line xs-hidden" href="/expertise/cloudtransformation">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!--Slide-->
            <li data-slide="dark-slide">
                <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="../img/Expertise/CollaboratioContent.jpeg">
                    <div class="js-Slide-fullscreen-height container">
                        <div class="intro-content">
                            <div class="intro-content-inner text-left">
                                <h1 class="h1">Collaboration & Content</h1>
                                <p class="lead">
                                    Portal branding, customizations,
                                    self-service capabilities, better content management, and collaboration
                                </p>
                                <br />
                                <div><a class="btn btn-md btn-white-line xs-hidden" href="/expertise/collaborationcontent">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!--Slide-->
            <li data-slide="dark-slide">
                <div class="slide-bg-image overlay-dark dark-bg parallax parallax-section1" data-background-img="../img/Expertise/ArtificialIntelligence.jpeg">
                    <div class="js-Slide-fullscreen-height container">
                        <div class="intro-content">
                            <div class="intro-content-inner text-left">
                                <h1 class="h1">Artificial Intelligence</h1>
                                <p class="lead">Use cutting edge technology to predict data trends, recognize speech, analyze facial patterns, <br /> evaluate social media sentiment, and more</p>
                                <br />
                                <div><a class="btn btn-md btn-white-line xs-hidden" href="/expertise/artificialintelligence">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- End Hero Slider Section -->
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->
<!--data management Section-->
<section id="about" class="wow fadeIn mtb-25 ptb-sm-80">
    <div class="container">
        <div class="row text-center mtb-45">
            <div class="col-md-12">
                <h3 class="lead"><b>We are a technical solutions company specializing in Data Management & Data Analytics solutions.</b></h3>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col-md-5 text-center">
                <div><img class="img-responsive" src="img/Data Manage.png" alt="Data Management"></div>
            </div>
            <div class="col-md-7 mb-30">
                <h4>Data Management</h4>
                <div class="spacer-15"></div>
                <p>Consolidate data and minimize inconsistencies</p>
                <p>Develop common data service from data located across enterprise and broader ecosystem using our advanced tools and processes. As a Preferred Supplier for Data Management category, we consolidate 400TB data every day from over 30 data sources in the Data Warehouses. Across our project portfolio, we process over 1,000TB of data everyday to help business derive insights.</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a" href="/expertise/datamanagement">Learn more</a>
            </div>
        </div>
    </div>
</section>
<!-- End data management Section-->
<hr />
<!--AI Section-->
<section id="about" class="wow fadeIn mtb-25 ptb-sm-80">
    <div class="container">        
        <div class="row mt-15">
            <!-- Welcome Content -->
            <div class="col-md-7 mb-30">
                <h4>Artificial Intelligence</h4>
                <p>Predict outcomes using your data</p>
                <p>Using Microsoft AI and Amazon AI, we translate your data to provide insights to you. Our clients use our expertise to identify new customers, cross the next logical product, upsell to increase profitability and analyze customer sentiment. With our custom intelligent bots, our clients have improved speed and accuracy of customer service. Using advance text and media analysis, we have helped our customers identify sentiment and key phrases.</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a" href="/expertise/artificialintelligence">Learn more</a>
            </div>
            <!-- End Welcome Content -->

            <div class="col-md-5 text-center">
                <div class="img-responsive"><img src="img/Artificial.png" alt="Artificial Intelligence"></div>
            </div>

        </div>
    </div>
</section>
<!-- End AI Section-->
<hr />
<!--PBIX Section-->
<section id="about" class="wow fadeIn mtb-25 ptb-sm-80">
    <div class="container">
        <div class="row mt-15">
            <div class="col-md-5 text-center">
                <div><img class="img-responsive" src="img/Power BI.png" alt="Self Service BI"></div>
            </div>
            <div class="col-md-7 mb-30">
                <h4>Self Service BI</h4>
                <p>Analyze data quickly using Power BI</p>
                <p>Using Microsoft AI and Amazon AI, we translate your data to provide insights to you. Our clients use our expertise to identify new customers, cross the next logical product, upsell to increase profitability and analyze customer sentiment. With our custom intelligent bots, our clients have improved speed and accuracy of customer service. Using advance text and media analysis, we have helped our customers identify sentiment and key phrases.</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a"  href="/expertise/selfservicebi">Learn more</a>
            </div>
        </div>
    </div>
</section>
<!-- End PBIX Section-->
<hr />
<!--App Development Section-->
<section id="about" class="wow fadeIn mtb-25 ptb-sm-80">
    <div class="container">
        <div class="row mt-15">
            <!-- Welcome Content -->
            <div class="col-md-7 mb-30">
                <h4>App Development</h4>
                <div class="spacer-15"></div>
                <p>Retail and Enterprise apps for Windows Store, Android, iPhone, iPad, Office, and SharePoint</p>
                <p>We have worked on 150+ Application Product Development and Test projects in various technologies. We have developed solutions using .NET 2.0 through .NET 4.5, used HTML, JavaScript, CSS, Azure, Office Apps, SharePoint, SQL versions, COSMOS, SSIS, SSRS, SSAS, MDX, and Power BI, to name a few.</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a" href="/expertise/appdevelopment">Learn more</a>
            </div>
            <!-- End Welcome Content -->

            <div class="col-md-5 text-center">
                <div><img class="img-responsive" src="img/AppDevelopment.png" alt="Big Data"></div>
            </div>
        </div>
    </div>
</section>
<!-- App Development data Section-->
<hr />

<!--Cloud Solutions Section-->
<section id="about" class="wow fadeIn mtb-25 ptb-sm-80">
    <div class="container">
        <div class="row mt-15">
            <div class="col-md-5 text-center">
                <div><img class="img-responsive" src="img/Big.png" alt="Cloud Transformation"></div>
            </div>
            <!-- Welcome Content -->
            <div class="col-md-7 mb-30">
                <h4>Cloud Transformation</h4>
                <div class="spacer-15"></div>
                <p>Simplify access to information while cutting storage costs</p>
                <p>Using Microsoft Power BI and Amazon QuickSight, analysts can quickly create near real time dashboards, great visuals without waiting for custom reports. As a Power BI Preferred Supplier, we implemented the largest enterprise Power BI solutions used by over 50,000 users today. Using our custom Power BI solutions to automate deployment, validation and monitoring, we accelerate transformations in large enterprises. As the largest publisher of custom visuals for Power BI on Microsoft Store, we have the expertise to design and implement your unique reporting needs quickly.</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a" href="/expertise/cloudtransformation">Learn more</a>
            </div>
            <!-- End Welcome Content -->
        </div>
    </div>
</section>
<!-- End Cloud Solutions Section-->
<hr />
<!--Collaboration Section-->
<section id="about" class="wow fadeIn mtb-25 ptb-sm-80">
    <div class="container">
        <div class="row mt-15">
            <div class="col-md-7 mb-30">
                <h4>Collaboration & Content</h4>
                <div class="spacer-15"></div>
                <p>Collaboration & Content</p>
                <p>We have a large team with vast experience in delivering SharePoint projects for various teams at Microsoft Corporation. We have processes and tools for fast paced SharePoint content migration, development and test.</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a" href="/expertise/collaborationcontent">Learn more</a>
            </div>
            <div class="col-md-5 text-center">
                <div><img class="img-responsive" src="img/CollaborationContent.png" alt="Data Management"></div>
            </div>
        </div>
    </div>
</section>
<!-- End Collaboration Section-->
<!-- Counter Section -->
<section id="counter" class="overlay-dark80 light-color ptb-80" style="background-position: 0% 0%; background-image: url('../img/full/23.jpg');" data-stellar-background-ratio="0.5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 mb-sm-30 mb-30">
                <h1 class="counter">1</h1><span class="dataCountFormatPlus"> Petabyte+</span>
                <h6>Data processed daily</h6>
            </div>
            <div class="col-md-4 mb-sm-30 mb-30">
                <h1 class="counter">50,000</h1><span class="dataCountFormatPlus">+</span>
                <h6>Users driving business forward with 300 dashboards</h6>
            </div>
            <div class="col-md-4 mb-sm-30 mb-30">
                <h1 class="counter">70</h1><span class="dataCountFormatPlus">+</span>
                <h6>Enterprise Azure implementations</h6>
            </div>
            <div class="col-md-4 mb-sm-30">
                <h1 class="counter">21</h1><span class="dataCountFormatPlus">+</span>
                <h6>Custom Power BI visuals published in Office Store</h6>
            </div>
            <div class="col-md-4 mb-sm-30">
                <h1 class="counter">25</h1><span class="dataCountFormatPlus">+</span>
                <h6>Machine learning models offering new insights on business</h6>
            </div>
            <div class="col-md-4 mb-sm-30">
                <h1 class="counter">5,000</h1><span class="dataCountFormatPlus">+</span>
                <h6>Metrics moving business forward</h6>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Section -->
<!-- Contant Slider Section -->
<section id="contant" class="wow fadeIn ptb ptb-sm-80">
    <div class="owl-carousel content-carousel content-slider">
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mb-sm-30">
                        <h3>Continuous Delivery</h3>
                        <div class="spacer-15"></div>
                        <p>Releasing high quality software through build, deploy and test automation</p>
                    </div>
                    <div class="col-md-3 offset-md-1 devopsSection devopsCIImg">                        
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mb-sm-30">
                        <h3>Faster</h3>
                        <div class="spacer-15"></div>
                        <p>Distributed teams with unified processes to increase productivity for faster turnaround</p>
                    </div>
                    <div class="col-md-3 offset-md-1 devopsSection devopsFasterImg">                        
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mb-sm-30">
                        <h3>Cost Effective</h3>
                        <div class="spacer-15"></div>
                        <p>Through skilled technical team and following disciplined engineering excellence practices</p>
                    </div>
                    <div class="col-md-3 offset-md-1 devopsSection devopsCostImg">                        
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mb-sm-30">
                        <h3>Immediate Feedback</h3>
                        <div class="spacer-15"></div>
                        <p>Incorporate changes using agile methodologies to give a competitive advantage</p>
                    </div>
                    <div class="col-md-3 offset-md-1 devopsSection devopsFeedbackImg">                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Contain Slider Section -->
<hr />

<!-- Client Logos Section -->
<!--<section id="client-logos" class="wow fadeIn ptb ptb-sm-80">   
    <div class="spacer-60"></div>
    <div class="container">
        <div class="owl-carousel client-carousel nf-carousel-theme ">
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/07.svg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/01.svg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/02.svg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/06.svg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/09.svg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/08.svg" alt="" />
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <img src="../img/logos/04.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- End Client Logos Section -->
<!-- News section -->
<section id="homeNews" class="wow fadeIn ptb">       
    <div class="container">                
        <div class="row">            
            <div class="col-md-4 mb-sm-30">                 
                <img class="img-responsive" src="../img/News.jpeg" />
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="row"><h3>IN THE NEWS</h3></div>
                <div class="spacer-15"></div>
                <h4>August 6, 2017</h4>
                <p><b>Penguin launches new book <i>What I Did Not Learn in B-School: Insights for New Managers</i> to address shortage of middle level managers in India </b></p>
                <div class="spacer-15"></div>
                <p>Penguin has released the much-anticipated book, <i>What I Did Not Learn in B-School</i>, written by the Founder and CEO of MAQ Software, Rajeev Agarwal. The book...</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a" href="#">Learn more</a>
            </div>
        </div>
    </div>
</section>
<!-- News section -->